<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Free Thyme - Contact</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicons/favicon.ico"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css">
  <!-- custom stylesheet -->
  <link rel="stylesheet" href="../static/css/thyme-css.css" type="text/css">

</head>
<body>
  <!-- Navigation -->
  <nav class="hf navbar navbar-expand-lg navbar-light static-top">
    <div class="container">
      <a class="navbar-brand change-hover-color cl-effect-2" href="/"><img src="../static/images/thyme-logo-nbg-sm.png" alt="...">FREE THYME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thyme-website-about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thyme-website-contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="fade-in" class="container hf col-lg-12 text-center mb-4">
    <h1>Contact the Team!</h1>
<br><br>

<!-- CONTACT INFO -->
  <div class="container text-center hf mt-3">
    <div class="row">
      <div class="col-sm">
        <img src="../static/images/brian.jpg" class="rounded-circle" alt="..."> <br>
        <h4>Brian Chung</h4>
        <a href="https://github.com/BrChung" class="fa fa-github-square mx-2" style="font-size:36px" target="_blank"></a><a href="https://www.linkedin.com/in/bchung25/" class="fa fa-linkedin-square mx-2" style="font-size:36px" target="_blank"></a>
        <a href="https://instagram.com/bchung40?utm_source=ig_profile_share&igshid=1bgh6evujebwh" class="fa fa-instagram mx-2 mb-4" style="font-size:36px" target="_blank"></a>
      </div>
      <div class="col-sm">
        <img src="../static/images/jason.jpg" class="rounded-circle" alt="...">
        <h4>Jason Jose</h4>
        <a href="https://github.com/jasonsisonjose" class="fa fa-github-square mx-2" style="font-size:36px" target="_blank"></a><a href="https://www.linkedin.com/in/jason-jose-a6033914a/" class="fa fa-linkedin-square mx-2" style="font-size:36px" target="_blank"></a>
        <a href="https://instagram.com/jjontheblock_?utm_source=ig_profile_share&igshid=1i57bs5ipukfs" class="fa fa-instagram mx-2 mb-4" style="font-size:36px" target="_blank"></a>
      </div>
      <div class="col-sm">
        <img src="../static/images/blue.jpg" class="rounded-circle" alt="...">
        <h4>Blue Bayani</h4>
        <a href="https://github.com/bluebayani" class="fa fa-github-square mx-2" style="font-size:36px" target="_blank"></a><a href="https://www.linkedin.com/in/blue-b-b83352103/" class="fa fa-linkedin-square mx-2" style="font-size:36px" target="_blank"></a>
        <a href="https://twitter.com/chaoticbleutral" class="fa fa-twitter-square mx-2 mb-4" style="font-size:36px" target="_blank"></a>
      </div>
    </div>
  </div>
    </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
