<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Free Thyme - Home</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicons/favicon.ico"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css">
  <!-- custom stylesheet -->
  <link rel="stylesheet" href="../static/css/thyme-css.css" type="text/css">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light static-top">
    <div class="container">
      <a class="navbar-brand change-hover-color cl-effect-2" href="/"><img src="../static/images/thyme-logo-nbg-sm.png" alt="...">FREE THYME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thyme-website-about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thyme-website-contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div id="test"class="text-center">
    <div class="container hf">
      <h1 class="mt-4">About Free Thyme</h1>
      <div class="col-sm">
          <h3 class="mt-5">Implemented using:</h3> <br>
          <img class="rounded" src="../static/images/google-cal.gif" alt="..."><br>
          <h5 class="mt-4 it">Google Calendar API</h5><br>
          <img src="../static/images/flask.png" class="rounded" alt="..."><br>
          <h5 class="mt-4 it">Flask</h5><br>
          <img src="../static/images/html.gif" class="rounded" alt="..."><br>
          <h5 class="mt-4 it">HTML</h5><br>
          <img src="../static/images/bootstrap-stack-490x412.png" class="rounded" alt="..."><br>
          <h5 class="mt-4 it">Bootstrap</h5><br>
          <img src="../static/images/domain-com.jpg" class="rounded" alt="..."><br>
          <h5 class="my-4 it">Domain.com</h5>
        </div>
      </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
